{{ partial "head.html" . }}
<body>
{{ partial "postjs.html" . }}
{{ partial "bodystart.html" . }}
<div class="main animated">
  {{ partial "nav.html" . }}
  {{ partial "header.html" . }}
  <div class="content">
    <aside class="left"></aside>
    <aside class="toc right" >
      <div id="toc_content">
        <h3>CATALOG</h3>
        {{ .TableOfContents }}
      </div>
    </aside>
    <div class="post_page">
      <div class="post animated fadeInDown">
        <div class="post_title post_detail_title">
          <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
          <span class="date">{{ .Date.Format "2006.01.02" }}</span>
        </div>
        <div class="post_content markdown">{{ .Content }}</div>
        <div class="post_footer">
          {{ with .Params.tags }}
          <div class="meta">
            <div class="info">
              <span class="field tags">
                {{ range . }}
                  <div class="tag">
                    {{ with resources.Get "images/hash.svg"}}
                      {{ .Content | safeHTML }}
                    {{ end }}

                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                  </div>
                {{ end }}
              </span>
            </div>
          </div>
          {{ end }}
        </div>

        <!-- Valine 评论系统 -->
        {{ if .Site.Params.valine.enable }}
          {{ partial "comments.html" . }}
        {{ end }}
      </div>

    </div>

  <a id="back_to_top" href="#" class="back_to_top"><span>△</span></a>
</div>
{{ partial "footer.html" . }}
{{ partial "js.html" . }}

{{ if .HasShortcode "video" }}
<script src="{{ "js/plyr.polyfilled.min.js" | absURL }}"></script>
{{ end }}
<script src="{{ "js/remember-scroll.min.js" | absURL }}"></script>
<script>
// remember previous reading location
new RememberScroll({
  pageKey: window.location.pathname,
  maxLength: 100
})
</script>

<script>
    const player = Array.from(document.querySelectorAll('video')).map(p => new Plyr(p));
</script>

</body>
</html>
