{{ partial "head.html" . }}
<body>
{{ partial "bodystart.html" . }}
<div class="main animated">
  {{ partial "nav.html" . }}
  {{ partial "header.html" . }}
  <div class="content">
    <div class="page_tags">
      <ul>
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        {{ if ($value.Name) }}
        <li>
          <a href="{{ $data.Plural | absURL }}/{{ $value.Name | urlize }}/">
            <div class="tag_button">
              {{ $value.Name | humanize | lower }} <span class="terms_count">{{ $value.Count }}</span>
            </div>
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    <div class="pagination"></div>
  </div>
  <a id="back_to_top" href="#" class="back_to_top"><span>△</span></a>
</div>
{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</body>
</html>
