@font-face {
  font-family: "icon";
  src: url("/fonts/icon.eot");
  src: url("/fonts/icon.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icon.woff2") format("woff2"),
    url("/fonts/icon.woff") format("woff"),
    url("/fonts/icon.ttf") format("truetype"),
    url("/fonts/icon.svg") format("svg");
}

.icon {
  font-family: "icon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.img_inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  padding: 1.5%;

  .placeholder {
    position: relative;

    img {
      position: absolute;
      opacity: 1;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity 1s linear;
      .small {
        z-index: 1;
      }

      .middle {
        z-index: 2;
      }

      .large {
        z-index: 3;
      }

      .loaded {
        opacity: 1;
      }
    }
  }
}

figure {
  width: 67vw;
  max-width: 1000px;
  margin: auto;

  &.photo_list {
    margin-bottom: 6rem;
    &:last-of-type {
      margin-bottom: 3rem;
    }

    figcaption {
      margin-top: 1.6rem;
      ul.photo_details {
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-weight: lighter;

        li {
          width: 100%;
          text-align: center;
          span {
            width: 100%;
            margin-bottom: 6px;
          }

          ul > li {
            margin-right: 10px;
            line-height: 0.9rem;
            display: inline;
            font-size: 0.9rem;
          }
        }
        & > li {
          border-right: solid 1px rgba(0, 0, 0, 0.1);
          &:last-of-type {
            border-right: none;
          }
          > span {
            font-size: 1.15rem;
            font-weight: bold;
            display: block;
          }
        }
      }
    }

    ul,
    li {
      padding: 0;
    }
  }
}

.list_by_year {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo_title_of_year {
  margin: auto;
  max-width: 800px;
  width: 56%;
  font-size: 2.6rem;
  color: #6d6d6d;
  font-family: product sans, google sans, Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 5vh 0 4vh 0;
  line-height: 2.2em;
}

.size-extra-large {
  max-width: 800px;
}

// animate
.img_container {
  perspective: 30px;
}
