@charset "UTF-8";

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  src: url("/fonts/ProductSans-Light.eot");
  src: local("Product Sans"), local("ProductSans-Light"),
    url("/fonts/ProductSans-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProductSans-Light.woff2") format("woff2"),
    url("/fonts/ProductSans-Light.woff") format("woff"),
    url("/fonts/ProductSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  src: url("/fonts/ProductSans-Thin.woff2");
  src: local("Product Sans"), local("ProductSans-Thin"),
    url("/fonts/ProductSans-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProductSans-Thin.woff2") format("woff2"),
    url("/fonts/ProductSans-Thin.woff") format("woff"),
    url("/fonts/ProductSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  src: url("/fonts/ProductSans-Regular.woff2");
  src: local("Product Sans"), local("ProductSans-Regular"),
    url("/fonts/ProductSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProductSans-Regular.woff2") format("woff2"),
    url("/fonts/ProductSans-Regular.woff") format("woff"),
    url("/fonts/ProductSans-Regular.ttf") format("truetype"),
    url("/fonts/ProductSans-Regular.svg#ProductSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  src: url("/fonts/ProductSans-Bold.woff2");
  src: local("Product Sans Bold"), local("ProductSans-Bold"),
    local("Product Sans"),
    url("/fonts/ProductSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProductSans-Bold.woff2") format("woff2"),
    url("/fonts/ProductSans-Bold.woff") format("woff"),
    url("/fonts/ProductSans-Bold.ttf") format("truetype"),
    url("/fonts/ProductSans-Bold.svg#ProductSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
}

html {
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333333;
  font-family: "Product Sans", "PingFang SC", "Helvetica Neue", "SF Pro SC",
    "SF Pro Display", "SF Pro Icons", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.9em;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    opacity: 1;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    color: #424242;
  }

  &:hover,
  &:active {
    color: #555555;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

hr {
  border: 1px solid #f3f3f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a,
input,
button {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  user-select: none;
}
/*basic styles ends*/

.main {
  min-height: 82vh;
  background: #fafafa;
  margin: 0;
}

.content {
  height: auto;

  margin: 0;
  display: flex;
  justify-content: center;

  twitter-widget {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
  }
  .post_page,
  .wrapper,
  .list_with_title,
  .page_tags {
    width: 56%;
    display: block;
    flex-grow: 0;
    order: 0;
  }

  aside {
    flex-grow: 1;
    width: 0;
  }

  aside.right {
    order: 1;
  }

  aside.left {
    order: -1;
  }

  aside.toc {
    color: rgba(0, 0, 0, 0.2);

    .reading {
      background: rgba(0, 0, 0, 0.1);
      color: #232323;
    }

    #toc_content {
      transition-duration: 1.5s;
      transition: background-color 0.15s linear;
      overflow: hidden;

      nav {
        position: relative;
        max-height: 75vh;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }

    .fixed {
      position: fixed;
      top: 40px;
    }

    // outer
    margin: 50px auto auto 40px;

    h3 {
      margin: 16px 0;
    }

    ul {
      padding: 0px;
      margin: 0;
      width: 180px;
      overflow: hidden;
      white-space: nowrap;

      li {
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 3px 0;
      }

      li ul li ul {
        padding-left: 10px;
      }

      a {
        border-radius: 6px;
        padding: 4px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  .post_page {
    .post {
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.07);
    }

    display: block;
    flex-grow: 0;
    .doc_comments {
      margin: 0;
      padding-bottom: 0;
      .comments_block_title {
        font-family: "Noto Serif", "Noto Serif CJK TC", "Source Han Serif TC",
          "Songti TC", serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

.list_with_title {
  .container {
    width: 56%;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  background: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.096);

  .nav_left {
    width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 0;

    .site_title {
      img {
        width: 3rem;
      }
    }
  }

  .nav_right {
    flex-grow: 1;
  }

  .nav_container {
    height: 4rem;
    margin: 0 auto;
    width: 56%;
    flex-grow: 0;
    display: flex;
    align-items: center;

    .menu_icon {
      padding: 10px;
      float: left;

      a {
        cursor: pointer;
      }
    }

    .site_nav {
      float: left;
      font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
        sans-serif;

      .nav_active {
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
      }

      li,
      a {
        position: relative;
      }

      li {
        float: left;
      }

      a {
        display: block;
        white-space: nowrap;
        margin: 10px 40px 10px 0;
        font-size: 1.1rem;
        position: relative;
      }

      a::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.6);
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }

      a:hover::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }
}

.post {
  background-color: #fff;
  margin: 50px 0;
  background: #fff;
  border: 3rem solid white;
  border-bottom: 2.5rem solid white;
  border-top: 3rem solid white;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  border-radius: 10px;
  padding: 0;

  &:hover {
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.12);
  }
  .post_title {
    padding-bottom: 16px;

    h2 {
      letter-spacing: 1px;
      font-size: 2rem;
      line-height: 1;
      font-weight: 600;
      color: #1f1f1f;
      margin: 0 0 6px 0;
    }

    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: #1f1f1f;
      font-size: 2rem;
      line-height: 2.4rem;
    }

    span {
      color: rgba(0, 0, 0, 0.44);
      font-size: 14px;

      &.date {
        font-size: 12px;
      }
    }
  }

  .post_detail {
    .meta {
      max-width: 100%;
      height: 30px;
      font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
        sans-serif;
      font-size: 10px;
      color: rgba(0, 0, 0, 0.6);
      letter-spacing: 0;

      .info {
        float: left;
        font-size: 13px;
        display: flex;
        align-items: center;

        i.date {
          margin-right: 10px;
        }
      }

      .field {
        display: flex;
        align-items: center;
        margin-right: 10px;
        white-space: nowrap;

        i {
          margin-right: 10px;
        }
      }
    }
  }

  .post_detail_title h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .post_detail_title {
    padding-bottom: 0;
  }

  .list {
    .post_content {
      color: rgba(0, 0, 0, 0.6);

      p {
        line-height: 2em;
        letter-spacing: 0px;
        padding-bottom: 0 !important;
      }
    }
  }

  .post_content {
    word-break: normal;
    font-size: 16px;
    color: #555;
    letter-spacing: 0;

    .plyr {
      margin: 10px 0;
    }

    ul li {
      list-style: disc;
    }

    p {
      margin: 0 0 1.5em;
      line-height: 2em;
      letter-spacing: 0.7px;
    }

    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: #0070f2;

      &:hover {
        color: #0061d2;
      }
    }
  }

  .read_info {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    span {
      font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
        sans-serif;
      font-size: 20px;
      margin-right: 4px;
      letter-spacing: 0;
    }

    .read_more {
      display: flex;
      align-items: center;
      color: #0070f2;
      margin-right: 5px;

      i {
        color: #0070f2;
        font-size: 20px;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        &:hover {
          transform: translate(2px, 0);
        }
      }
    }

    .read_time {
      color: rgba(0, 0, 0, 0.54);
      font-weight: 400;
      text-align: right;

      span {
        font-size: 16px;
      }
    }
  }

  .post_footer {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;

    .field a {
      font-size: 14px;
    }
  }
}

.tag {
  display: inline;
  padding: 2px 4px 4px 4px;
  border-radius: 5px;
  margin: 0;
  transition-duration: 0.4s;

  &:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.14);
  }
}

.field {
  font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
    sans-serif;
  a {
    text-decoration: none;
    &:hover {
      color: #1f1f1f;
    }
  }

  svg {
    width: 12px;
    height: 12px;
  }

  a,
  svg {
    vertical-align: middle;
  }

  a {
    margin-left: 0px;
  }
}

.page_tags {
  text-align: center;
  margin: 50px 0;

  ul li {
    margin: 10px 15px;
    display: inline-block;
    font-size: 1em;

    a .tag_button {
      text-transform: capitalize;
      padding: 10px 15px 10px 25px;
      background: #ffffff;
      font-weight: bold;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.096);
      border-radius: 10px;
      transition-duration: 0.5s;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
        color: #0070f2;
      }
    }
  }

  .terms_count {
    display: inline-block;
    position: relative;
    top: -8px;
    right: -2px;
    color: #c5c5c5;
    font-size: 12px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.footer {
  clear: both;
  text-align: center;
  min-height: 18vh;
  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  > .footer_info {
    width: 100%;
  }
  p {
    font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
      sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0;
    text-align: center;

    a {
      transition-duration: 0.2s;
      font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
        sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.54);

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  .my_socials {
    a i {
      transition-duration: 0.5s;
      color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
      margin: 0 2px;

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
  .powered_by {
    margin-top: -7px;
    font-size: 16px;
  }

  .beian {
    font-size: 13px;
    font-weight: bold;
    font-family: "Noto Serif", "Noto Serif CJK TC", "Source Han Serif TC",
      "Songti TC", serif;
    letter-spacing: 1px;

    a {
      font-family: "Noto Serif", "Noto Serif CJK TC", "Source Han Serif TC",
        "Songti TC", serif;
      color: rgba(0, 0, 0, 0.55);
    }
  }
}

/*for archive*/

.list_with_title {
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 0;
  }

  .listing_title {
    font-size: 2.6rem;
    color: #6d6d6d;
    font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
      sans-serif;
    font-weight: bold;
    padding-top: 10px;
    line-height: 2.2em;
  }

  .listing {
    margin: 0 0 30px 0;
    line-height: 2.1;

    .listing_item {
      background-color: white;
      margin: 10px 0;
      border-radius: 10px;
      box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.096);
      padding: 0.6rem 1rem;
      transition: color 2s, box-shadow 0.3s, transform 0.5s;
      z-index: 0;

      &:last-child {
        border-bottom: 0px;
      }

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
        z-index: 100;
        transform: translateY(-1.5px);

        .listing_post a,
        .listing_post:hover a {
          color: #0061d2;
        }
      }

      .listing_post {
        color: #424242;
        a {
          transition: color 0.1s;
          display: inline-block;
          width: 85%;
          color: #424242;
          font-weight: bold;
        }

        .post_time {
          float: right;
          color: #757575;
          font-size: 14px;
          font-family: "Product Sans", "Google Sans", Roboto, Arial, Helvetica,
            sans-serif;
        }

        a:hover {
          color: #1f1f1f;
        }
      }
    }
  }
}

.pagination {
  padding-bottom: 60px;
  color: #666666;
  font-size: 14px;

  a {
    color: #333333;
    text-decoration: none;

    .pagination_button {
      margin-bottom: 36px;
      padding: 1rem;
      background: #ffffff;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.096);
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      display: flex;
      align-items: center;

      &:hover,
      &:active {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
        color: #0070f2;
        font-weight: 400;
      }
    }
  }

  .pre {
    float: left;
  }

  .next {
    float: right;
  }
}

.markdown {
  line-height: 1.8em;
  word-wrap: break-word;
  word-break: normal;
  overflow-wrap: break-word;
  font-family: "PingFang SC", "Helvetica Neue", "SF Pro SC", "SF Pro Display",
    "SF Pro Icons", "Helvetica", "Arial", sans-serif;
  ul,
  ol,
  dl {
    padding-inline-start: 24px;
    margin: 0.2em 0 0.8em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }

  h1:before,
  h2:before {
    position: absolute;
    transform: translate(-130%);
    display: block;
    content: "#";
    color: rgba(0, 0, 0, 0.1);
  }

  h3:before,
  h4:before,
  h5:before,
  h6:before {
    position: absolute;
    transform: translate(-120%);
    display: block;
    content: "##";
    color: rgba(0, 0, 0, 0.1);
  }

  h1 {
    margin: 1.5em 0 1.5em 0;
    font-size: 1.6em;
  }

  h2 {
    margin: 1.8em 0 1em 0;
    font-size: 1.4em;
  }

  h3 {
    margin: 1em 0 0.6em 0;
    font-size: 1.2em;
  }

  h4 {
    margin: 0.5em 0 0.3em 0;
    font-size: 1em;
  }

  pre,
  code {
    font-family: Monaco, "Roboto Mono", Menlo, courier, monospace;
    font-size: 0.9em;
    border: none;
    margin: 0 3px;
  }

  pre {
    margin-top: 1.2em;
    margin-bottom: 2.2em;
    padding: 15px 20px;
    display: block;
    overflow: auto;
    white-space: pre;
    word-wrap: break-word;
  }

  code {
    color: #666666;
    background-color: #2728221a;
    padding: 4px 5px;
    border-radius: 2px;
    white-space: nowrap;
  }

  pre code {
    padding: 0;
  }

  blockquote p {
    white-space: normal;
  }

  pre {
    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 1rem;
      background-color: #cccccc;
      background-clip: padding-box;
      border: 3px solid #fdfdfd;
      border-radius: 5px;

      &:active {
        background-color: #999999;
        border-width: 2px;
      }
    }
  }

  blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2.5em 0;
    padding: 0 0 0 50px;
    font-style: italic;
    color: #555555;
    border-left: none;
  }

  blockquote:before {
    content: "“";
    display: block;
    font-family: times, sans-serif;
    font-style: normal;
    font-size: 48px;
    color: #444444;
    font-weight: bold;
    line-height: 30px;
    margin-left: -50px;
    position: absolute;
  }

  b,
  em {
    padding: 1px 2px;
    background-color: #03b4f821;
    font-weight: normal;
  }

  strong {
    padding: 1px 2px;
    font-weight: bolder;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
  }
  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  .fancybox {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

a.back_to_top {
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  background: #f0f0f0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 36px;
  font-size: 18px;
  text-align: center;
  transition-duration: 0.5s;
  transition-property: background-color;
  display: none;

  span {
    color: #888888;
  }

  &:hover {
    cursor: pointer;
    background: #dfdfdf;

    span {
      color: #555555;
    }
  }
}

#notify {
  display: none;
  position: fixed;
  bottom: -100px;
  left: 20px;
  min-width: 300px;
  max-width: 600px;
  min-height: 30px;

  display: flex;
  align-items: center;
  padding: 20px;
  font-family: "Product San";
  font-weight: bold;

  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 9px;
  border-radius: 10px;

  transition: all 0.4s ease-in-out;

  a,
  p {
    display: inline;
  }
  a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #0070f2;
  }

  button {
    width: 60px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 9px;
    margin: 0;
    background-color: black;
    padding: 0;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    outline: none;
    // transition: all 0.3s ease-in-out;
    transition: box-shadow 0s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 12px;
    }

    &:active {
      box-shadow: rgba(0, 0, 0, 0) 0px 8px 9px;
    }
  }
}

@media print, screen and (max-width: 680px) {
  .nav_container {
    position: relative;
    z-index: 999;

    .site_nav {
      display: none;
      position: fixed;
      right: 0;
      top: 60px;
      padding: 10px 0;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86);

      ul {
        float: none;
        text-align: center;
      }

      li {
        float: none;
      }
    }

    .menu_icon {
      position: fixed;
      right: 0;
    }
  }

  .back_to_top {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .markdown blockquote:before {
    content: "";
  }
  .markdown blockquote {
    padding: 0 0 0 16px;
    border-left: rgba(175, 175, 175, 0.22) solid 5px;
    color: rgba(0, 0, 0, 0.4);
  }

  aside {
    display: none;
  }

  .post_page,
  .wrapper,
  .list_with_title,
  .page_tags {
    width: 90% !important;
  }
  .post {
    border: 0;
    border-right: 2rem solid #fff;
    padding: 2rem 0 2rem 2rem;

    margin-top: 20px;
    overflow: hidden;

    .post_title a {
      font-size: 1.5rem;
    }

    .post_content p {
      font-size: 1rem;
    }

    .read_info {
      span {
        font-size: 1rem;
      }

      .read_more i {
        font-size: 1rem;
      }

      .read_time span {
        font-size: 0.9rem;
      }
    }
  }

  .pagination a .pagination_button {
    margin-bottom: 20px;
  }

  .footer .my_socials a i {
    font-size: 24px;
  }
}

@media screen and (min-width: 1600px) {
  .nav .nav_container {
    max-width: 800px;
  }

  .content .post_page,
  .content .wrapper,
  .content .list_with_title,
  .content .page_tags {
    max-width: 800px;
  }
}
/*animation starts*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*animation ends*/
