@charset "UTF-8";

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Regular.woff2');
  src: local('Product Sans'), local('ProductSans-Regular'), local('Product Sans'),
      url('../fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProductSans-Regular.woff2') format('woff2'),
      url('../fonts/ProductSans-Regular.woff') format('woff'),
      url('../fonts/ProductSans-Regular.ttf') format('truetype'),
      url('../fonts/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold.woff2');
  src: local('Product Sans Bold'), local('ProductSans-Bold'), local('Product Sans'),
      url('../fonts/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProductSans-Bold.woff2') format('woff2'),
      url('../fonts/ProductSans-Bold.woff') format('woff'),
      url('../fonts/ProductSans-Bold.ttf') format('truetype'),
      url('../fonts/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

::selection {
  background:rgba(0, 0, 0, .1);
}

html,body{
  height: 100%;
}

html {
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333333;
  font-family: 'source-han-sans-simplified-c', 'Source Sans Pro',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.9em;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    opacity: 1;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    color: #424242;
  }

  &:hover,
  &:active {
    color: #555555;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

hr {
  border: 1px solid #f3f3f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*basic styles ends*/

.main {
  background: #FAFAFA;
  margin: 0;
}


.content {
  
  height: auto;
  
  margin: 0;
  display: flex;
  justify-content:center;

  .post_page, .wrapper, .list_with_title, .page_tags {
    width: 56%;
    display: block;
    flex-grow: 0;
  }

  aside {
    flex-grow: 1;
    width: 0;
  }

  aside.toc {
    color: rgba(0,0,0,0.2);

    .reading {
      background: rgba(0,0,0,0.1);
    }

    #toc_content {
      transition-duration: 1.5s;
      transition: background-color 0.15s linear;
    }

    .fixed {
      position: fixed;
      top: 40px;
    }

    // outer 
    margin: 50px auto auto 40px;

    h3 {
      margin: 16px 0;
    }

    ul {
      padding: 0px;
      margin: 0;
      width: 180px;
      overflow:hidden;
      white-space:nowrap;
      
      li {
        width:180px;
        overflow: hidden;
        text-overflow:ellipsis;
        overflow:hidden;
        padding: 3px 0;
      }

      li ul li ul{
        padding-left: 10px;
      }

      a {
        border-radius: 6px;
        padding: 4px;
        color: rgba(0,0,0,0.4);
        font-weight: bold;
      }
    }
  }

  .post_page {
    display: block;
    flex-grow: 0;
  }
}

.list_with_title {
  .container {
    width: 56%;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.06);

  .nav_left {
    width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0;
    width: 0;
    
    .site_title {
      img{
        width: 3rem;
      }
    }
  }

  .nav_right {
    flex-grow: 1;
  }

  .nav_container {
    height: 4rem;
    margin: 0 auto;
    width: 56%;
    flex-grow: 0;
    display: flex;
    align-items: center;

    .menu_icon {
      padding: 10px;
      float: left;

      a {
        cursor: pointer;
      }
    }

    .site_nav {
      float: left;
      font-family: 'Product Sans';
      
      .nav_active {
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
      }

      li,
      a {
        position: relative;
      }

      li {
        float: left;
      }

      a {
        display: block;
        white-space: nowrap;
        padding: 10px 40px 10px 0;
        font-size: 1.1rem;
      }
    }
  }
}

.post {
  background-color: #ffffff;
  margin-top: 50px;
  background: #FFFFFF;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.06);
  border-radius: 10px;
  padding: 3rem 3rem 2.5rem 3rem;

  .post_title {
    padding-bottom: 16px;

    h2 {
      letter-spacing: 1px;
      font-size: 2rem;
      line-height: 1;
      font-weight: 600;
      color: #1f1f1f;
      margin: 0 0 6px 0;
    }

    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: #1f1f1f;
      font-size: 2rem;
      line-height: 2.4rem;
    }

    span {
      color: rgba(0, 0, 0, 0.44);
      font-size: 14px;

      &.date {
        font-size: 12px;
      }
    }
  }

  .post_detail {

    .meta {
      max-width: 100%;
      height: 30px;
      font-family: "ProductSan";
      font-size: 10px;
      color: rgba(0,0,0,0.60);
      letter-spacing: 0;

      .info {
        float: left;
        font-size: 12px;
        display: flex;
        align-items: center;

        i.date {
          margin-right: 10px;
        }
      }

      .field {
        display: flex;
        align-items: center;
        margin-right: 10px;
        
        i {
          margin-right: 10px;
        }
      }

      .tags a {
        text-decoration: none;
        padding-right: 6px;

        &:hover {
          color: #1f1f1f;
        }
      }
    }
  }

  .post_detail_title h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .list { 
    .post_content {
      color: rgba(0, 0, 0, 0.5);

      p {
        line-height: 2em;
        letter-spacing: 0px;
        padding-bottom: 0 !important;
      }
    }
  }

  .post_content {
    word-break: normal;
    font-size: 16px;
    color: #555;
    letter-spacing: 0;

    .plyr {
      margin: 10px 0;
    }
    
    ul li {
      list-style: disc;
    }

    p {
      margin: 0 0 1.5em;
      line-height: 2em;
      letter-spacing: 1px;
    }

    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: #0374f8;

      &:hover {
        color: #0061d2;
      }
    }
  }

  .read_info {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    span {
      font-family: "Product Sans";
      font-size: 20px;
      letter-spacing: 0;
    }

    .read_more {
      display: flex;
      align-items: center;
      color: #0374F8;
      margin-right: 5px;

      i {
        color: #0374F8;
        font-size: 20px;
      }
    }

    .read_time {
      color: rgba(0, 0, 0, .3);
      font-weight: 400;
      text-align: right;

      span {
        font-size: 16px;
      }
    }
  }
}

.page_tags {
  text-align: center;
  margin: 50px 0;

  ul li {
    margin: 10px 15px;
    display: inline-block;
    font-size: 1em;

    a .tag_button {
      padding: 10px 15px 10px 25px;
      background: #FFFFFF;
      box-shadow: 0 8px 20px 0 rgba(0,0,0,0.06);
      border-radius: 10px;
      transition-duration: 0.5s;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.12);
        color: #0374F8;
        font-weight: 400;
      }
    }
  }

  .terms_count {
    display: inline-block;
    position: relative;
    top: -8px;
    right: -2px;
    color: #c5c5c5;
    font-size: 12px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.footer {
  clear: both;
  text-align: center;
  padding: 40px 0;
  background: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, .1);

  p {
    font-family: "Product Sans";
    font-size: 18px;
    color: rgba(0,0,0,0.60);
    letter-spacing: 0;
    text-align: center;
    
    a {
      font-family: "Product Sans";
      font-weight: bold;
      text-decoration: underline;
      
    }
  }

  .my_socials {
    a i{
      font-size: 18px;
    }
  }
}

/*for archive*/

.list_with_title {
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  
  li {
    list-style-type: none;
    padding: 0;
  }

  .listing_title {
    font-size: 1.4rem;
    color: #1f1f1f;
    font-weight: bold;
    padding-top: 10px;
    line-height: 2.2em;
  }

  .listing {
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 2.1;

    .listing_post {
      padding-bottom: 5px;

      a {
        display: inline-block;
        width: 85%;
      }

      .post_time {
        float: right;
        color: #c5c5c5;
        font-size: 14px;
      }

      a:hover {
        color: #1f1f1f;
      }
    }
  }
}

.pagination {
  margin-top: 20px;
  padding-bottom: 60px;
  color: #666666;
  font-size: 14px;

  a {
    color: #333333;
    text-decoration: none;

    .pagination_button {
      margin-bottom: 36px;
      padding: 1rem;
      background: #FFFFFF;
      box-shadow: 0 8px 20px 0 rgba(0,0,0,0.06);
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      display: flex;
      align-items: center;
  
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.12);
        color: #0374F8;
        font-weight: 400;
      }
    }
  }

  .pre {
    float: left;
  }

  .next {
    float: right;
  }
}

.markdown {
  line-height: 1.8em;
  word-wrap: break-word;
  word-break: normal;
  overflow-wrap: break-word;

  ul,
  ol,
  dl {
    margin: 0.8em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2.5em 0 1.3em 0;
    color: #000000;
  }

  h1:before, h2:before {
    position: absolute;
    transform: translate(-130%);
    display: block;
    content: '#';
    color: rgba(0, 0, 0, .1);
  }
  
  h3:before,  h4:before,  h5:before,  h6:before {
    position: absolute;
    transform: translate(-120%);
    display: block;
    content: '##';
    color: rgba(0, 0, 0, .1);
  }

  h1 {
    font-size: 1.35em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.15em;
  }

  h4 {
    font-size: 1.1em;
  }

  pre,
  code {
    font-family: 'Roboto Mono', Menlo, Monaco, courier, monospace;
    font-size: 0.9em;
    border: none;
    margin: 0 3px;
  }

  pre {
    margin-top: 1.2em;
    margin-bottom: 2.2em;
    padding: 15px 20px;
    display: block;
    overflow: auto;
    white-space: pre;
    word-wrap: break-word;
  }

  code {
    color: #666666;
    padding: 4px 5px;
    border-radius: 2px;
    white-space: nowrap;
  }

  pre code {
    padding: 0;
  }

  blockquote p {
    white-space: normal;
  }

  pre {
    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 1rem;
      background-color: #cccccc;
      background-clip: padding-box;
      border: 3px solid #fdfdfd;
      border-radius: 5px;

      &:active {
        background-color: #999999;
        border-width: 2px;
      }
    }
  }

  blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2.5em 0;
    padding: 0 0 0 50px;
    font-style: italic;
    color: #555555;
    border-left: none;
  }

  blockquote:before {
    content: '“';
    display: block;
    font-family: times, sans-serif;
    font-style: normal;
    font-size: 48px;
    color: #444444;
    font-weight: bold;
    line-height: 30px;
    margin-left: -50px;
    position: absolute;
  }

  strong,
  b,
  em {
    padding: 1px 2px;
    background-color: #03b4f821;
    font-weight: normal;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  .fancybox {
    text-align: center;
  }

  img {
    max-width: 90%;
    height: auto;
  }
}

a.back_to_top {
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  background: #f0f0f0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 36px;
  font-size: 18px;
  text-align: center;
  transition-duration: 0.5s;
  transition-property: background-color;
  display: none;

  span {
    color: #888888;
  }

  &:hover {
    cursor: pointer;
    background: #dfdfdf;

    span {
      color: #555555;
    }
  }
}

@media print, screen and (max-width: 680px) {
  .nav_container {
    position: relative;
    z-index: 999;

    .site_nav {
      display: none;
      position: fixed;
      right: 0;
      top: 60px;
      padding: 10px 0;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86);

      ul {
        float: none;
        text-align: center;
      }

      li {
        float: none;
      }
    }

    .menu_icon {
      position: fixed;
      right: 0;
    }
  }

  .back_to_top {
    display: none !important;
  }
}

@media screen and (min-width: 1600px) {
  .main {
    width: 1000px;
  }
  .nav_container {
    width: 840px;
  }

  .header,
  .content {
    width: 820px;
  }
}

@media screen and (max-width: 900px) {

  aside {
    display: none;
  }

  .post_page, .wrapper, .list_with_title, .page_tags {
    width: 90% !important;
  }
  .post {
    padding: 2rem 1.8rem 2rem 1.8rem;
    margin-top: 20px;

    .post_title a{
      font-size: 1.5rem;
    }

    .post_content p{
      font-size: 1rem;
    }

    .read_info {
      span {
      font-size: 1rem;
      }

      .read_more i {
        font-size: 1rem;
      }

      .read_time span {
        font-size: 0.9rem;
      }
    }
  }
  
  .pagination a .pagination_button {
    margin-bottom: 20px;
  }
}

/*animation starts*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*animation ends*/
