<!-- valine -->
<div class="doc_comments">
  <div class="comments_block_title">评论</div>
  <div id="vcomments"></div>
</div>

<link rel="stylesheet" href="{{ "css/comments.css" | absURL }}"/>
<script src='//storage.fredliang.cn/web/Valine.min.js?v=1.3.7'></script>

<script type="text/javascript">
new Valine({
  el: '#vcomments',
  appId: '{{ .Site.Params.valine.appId }}',
  appKey: '{{ .Site.Params.valine.appKey }}',
  placeholder: '{{ .Site.Params.valine.placeholder }}',
  visitor: '{{ .Site.Params.valine.visitor }}',
})
</script>
