<script src="{{ "js/jquery-3.4.1.slim.min.js" | absURL }}"></script>

{{ $refine := resources.Get "js/refine.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $refine.Permalink }}" integrity="{{ $refine.Data.Integrity }}"></script>
{{ .Scratch.Set "jsHref" $refine.Permalink }}

{{ $sw := resources.Get "sw.js" | resources.ExecuteAsTemplate "sw.js" . }}
{{ $test := $sw.Permalink}}

<script src="{{ "js/highlight.pack.js" | absURL }}" async></script>
<link  href="{{ "css/prism.css" | absURL }}" rel="stylesheet">
<script src="{{ "js/prism.js" | absURL }}" async></script>
<script src="{{ "js/remember-scroll.min.js" | absURL }}"></script>
<script>
// remember previous reading location
new RememberScroll({
  pageKey: window.location.pathname,
  maxLength: 100
})
</script>

{{ if .Site.Params.enableMathJax }}
  {{ partial "mathjax.html" . }}
{{ end }}

{{ if .Site.Params.fathom.enable }}
  {{ partial "fathom.html" . }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

{{ template "_internal/disqus.html" . }}


{{ if not .Site.IsServer }}
  {{ partial "service-worker.html" . }}
{{ end }}