<div class="nav">
  <div class="nav_left">
    <div class="site_title">
        <a href="{{ .Site.BaseURL }}">
          <img alt="Fred" src="{{ "images/logo.svg" | absURL }}"/>
        </a>
    </div>
  </div>
  <div class="nav_container animated fadeInDown">
    <div class="site_nav" id="site_nav">
      <ul>
        {{ $currentPage := . }}
        {{ range.Site.Menus.main }}
        <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}nav_active{{ end }}">
          <a href="{{ .URL | safeURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="nav_right"></div>
  <div id="ab" style="background-color: white;display:flex;align-items:center;justify-content:center;padding:2px 12px;position:fixed;right:0;bottom:0;z-index:100;font-family: product sans;margin: 10px;border-radius: 5px;box-shadow: 0 0 10px 0 rgba(0,0,0,.07);"></div>
</div>
