{{ $pages := where .Site.RegularPages "Params.hidden" "ne" true }}
{{ $paginator := .Paginate (where $pages "Type" "posts") }}
{{ range $paginator.Pages }}

<div class="post animated fadeInDown">
  <div class="post_title">
    <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
  </div>
  <div class="post_detail">
      <div class="meta">
      <div class="info">
        <span class="field">
          <i class="remixicon-calendar-line"></i>
          <span class="date">{{ .Date.Format "2006.01.02" }}</span>
        </span>
        {{ with .Params.tags }}
        <span class="field">/</span>
        <span class="field tags">
          {{ range . }}
            <div class="tag">
              {{ with resources.Get "images/hash.svg"}}
                {{ .Content | safeHTML }}
              {{ end }}
              <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
            </div>
          {{ end }}
        </span>
        {{ end }}
      </div>
    </div>
  </div>

  {{ if .Site.Params.enableSummary }}
  <div class="list">
    <div class="post_content markdown">
      <p>{{ plainify .Description }}......</p>
    </div>
  </div>
  {{ end }}

  <div class="read_info">
    <a class="read_more" href='{{ .RelPermalink }}'>
      <span>
        Read More
      </span>
      <i class="remixicon-arrow-right-circle-line"></i>

    </a>
    <div class="read_time">
      <span>
        {{ div (.Content | countwords) 150}} MIN Read
      </span>
    </div>
  </div>
</div>

{{ end }}


{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
  <div class="pagination">
  {{ if $paginator.HasPrev }}
  <a href="{{$paginator.Prev.URL}}">
    <div class="pagination_button pre">
      <i class="remixicon-arrow-left-circle-line"></i>&nbsp{{ i18n "prev_page" }}
    </div>
  </a>
  {{ end }}
  {{ if $paginator.HasNext }}
  <a href="{{$paginator.Next.URL}}">
    <div class="pagination_button next">
      {{ i18n "next_page" }}&nbsp<i class="remixicon-arrow-right-circle-line"></i>
    </div>
  </a>
  {{ end }}
  </div>
{{ end }}

